.subDiv {
    /*height: 100px;*/
    line-height: 100px;
    display: flex;
    flex-direction: row;
    color: white;
    vertical-align: middle; 
    justify-content: center;
} 
/* #id {
    color: azure;
} */

body{
    background-color: teal;
}